#map {
    width: 800px;
    height: 600px;
    margin: auto;
    border: 1px solid;
}

.center{
    margin: auto;
    text-align: center;
}

html,
body {
    height: 100%;
    background-image: url("squairy_light.png");
}

.homepage {
    background-image: url("airplane.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.map-page,
.search-page {
    background-image: url("squairy_light.png");
}

#top-banner-in-base {
    background-color: #fff;
}

.airfare-search-tagline {
    color: white;
    text-align: center;
}

a,
a:active,
a:hover,
a:link {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

h3, h4 {
    font-family: 'Quando', serif;
}

p,
h1 {
    font-family: 'Open Sans', sans-serif;
}

.search-result-box {
    text-align: center;
    line-height: 100%;
}

.kayak-button,
.kayak-button:hover,
.kayak-button:active,
.kayak-button:link {
    background-color: #FFB03B;
    color: #fff;
}
