<!doctype html>
<html>
<head>
    <title>Destination: Anywhere</title>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <link rel="stylesheet" href="/static/typeahead/dist/jquery.typeahead.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link ref="stylesheet" href="/static/main.css">
</head>

<body>
<div class="container-fluid">
<h2>Destination: Anywhere</h2>
  <p>An airfare search for the flexible adventurer</p>

  <hr>
</div>
  {% block content %} CONTENT GOES HERE {% endblock %}

  <script src="/static/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/main.js"></script>
  <script src="/static/typeahead/src/jquery.typeahead.js"></script>
  <script src="/static/typeahead.js"></script>

  {% block javascript %}
  {% endblock %}

</body>
</html>