{% extends 'base.html' %}

{% block content %}

  <form id="form-country_v1" name="form-country_v1">
    <div class="typeahead__container">
        <div class="typeahead__field">

            <span class="typeahead__query">
                <input class="js-typeahead-country_v1" name="country_v1[query]" type="search" placeholder="Search" autocomplete="off">
            </span>
            <span class="typeahead__button">
                <button type="submit">
                    <i class="typeahead__search-icon"></i>
                </button>
            </span>

        </div>
    </div>
</form>

<form action="/search" method="POST">
    <div id="port_search">
    <label>From: <input type="text" name="depart"></label><br>
    </div>
    <br>

    <p>When: <select name="month">
    {% for month in months %}
      <option value="{{ month.month }} {{ month.year }}">{{ month.month }} {{ month.year }} </option>
    {% endfor %}
    </select>

    <p>How long:</p>
    <input type="radio" name="duration" value="7" checked> One week<br>
    <input type="radio" name="duration" value="14"> Two weeks<br>
    <input type="radio" name="duration" value="21"> Three weeks<br>
    <input type="radio" name="duration" value="28"> Four weeks<br>

    <br>
    <input type="submit" name="Search">
</form>

{% endblock %}