{% extends 'base.html' %}

{% block content %}

<p>Homepage stuff</p>

<form action="/search" method="POST">
    <div id="port_search">
    <label>From: <input type="text" name="depart"></label><br>
    </div>
    <br>

    <p>Month of travel: <select name="month">
    {% for month in months %}
      <option value="{{ month.month }}">{{ month.month }} {{ month.year }} </option>
    {% endfor %}
    </select>

    <p>Duration</p>
    <input type="radio" name="duration" value="1" checked> One week<br>
    <input type="radio" name="duration" value="2"> Two weeks<br>
    <input type="radio" name="duration" value="3"> Three weeks<br>
    <input type="radio" name="duration" value="4"> Four weeks<br>

    <br>
    <input type="submit" name="Search">
</form>

{% endblock %}