{% extends 'base.html' %}

{% block content %}

<div class="container-fluid map-page">

  <div class="row center">

    <br>
    <h3>Oh, the places you can go.</h3>
    <p>Select a starting airport below to see locations and average prices on a map.</p>

  </div>

  <div class="row">

    <div class="col-xs-offset-4">

    <form id="airport-search-form" method="GET" class="form-inline">

    <div class="col-xs-5">
      <div class="typeahead__container">
      <div class="typeahead__field">
          <span class="typeahead__query">
            <input class="js-typeahead"
                   id="airport-search-field"
                   type="search"
                   autocomplete="off"
                   placeholder="Select Starting Airport">
          </span>
      </div>
      </div>
    </div>

    <div class="col-xs-1">
      <input type="submit" id="airport-search" class="btn btn-default">
    </div>

    </form>
    </div>
  </div>

  <br>
  <div id="map"></div>

</div>
{% endblock %}

{% block javascript %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUPJFt0VRwL6XWJFm9_WnjDgNBb_d_MQg&callback=initMap"></script>

<script src="/static/map.js"></script>

<script>

  airfares = {{ airfares|tojson|safe }};

</script>


{% endblock %}
