{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
<h3>From {{ user_port.code }} to anywhere in {{ month_name }} {{ year }} for {{ duration }} days:</h3>
</div></div>

<div class="row">
{% for airfare in airfares %}

<div class="col-xs-12 col-md-4">
    <span><h1>{{ airfare.aport.city }}</h1></span>
    Average price: {{ "${:.0f}".format(airfare.average_price) }}<br>
    <a href="{{ kayak_urls[loop.index0] }}">Buy on Kayak!</a><br>
</div>

{% endfor %}
</div></div>
{% endblock %}