{% extends 'base.html' %}

{% block content %}

<div class="container-fluid search-page">

  <div class="row">

    <div class="col-xs-12">
      <br>
      <h3>Results for travel from {{ depart }} in {{ month }} {{ year }} for {{ duration }} days:</h3>
      <br>
      <p align="right">Sort by:
      <button id="sort-by-airport-code" type="button" class="btn btn-default btn-sm">Airport Code</button>
      <button id="sort-by-avg-price" type="button" class="btn btn-default btn-sm">Average Price</button>
      <button id="sort-by-city-name" type="button" class="btn btn-default btn-sm">City Name</button>
      <button id="sort-by-distance" type="button" class="btn btn-default btn-sm">Distance</button>
      <button id="sort-by-value" type="button" class="btn btn-default btn-sm">$ per mile</button></p>
    </div>

  </div>
</div>

<div class="container-fluid search-page">

  <div class="row" id="display-search-results">

    {% for i in range(length) %}

    <div class="search-result-box col-xs-12 col-s-4 col-md-3 col-l-3 card card-block">
      <h1 class="card-title"><span id="box-arrival-city{{ i }}"></span></h1>
      <p class="card-text">Average price: $<span id="box-average-price{{ i }}"></span></p>
      <p class="card-text">Airport code: <span id="box-airport-code{{ i }}"></span></p>
      <p class="card-text">Distance: <span id="box-distance{{ i }}"></span></p>
      <p class="card-text"><span id="box-kayak-url{{ i }}"></span></p>
    </div>

    {% endfor %}

  </div>
</div>

{% endblock %}

{% block javascript %}

<script>

  info = {{ info|tojson|safe }};

</script>

<script src="/static/search.js"></script>

{% endblock %}